@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/dropzone/basic.min.css" rel="stylesheet" />
    <link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />


    
    <title></title>

</head>
<body ng-controller="DropZoneController as dz">

    <div class="col-xs-6 col-xs-offset-3">
        <div class="well">
            <form action="" class="dropzone" dropzone="" id="dropzone">
                <div class="dz-default dz-message">
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-success" ng-click="dz.uploadFile()">Upload File</button>
        <button class="btn btn-danger" ng-click="dz.reset()">Reset Dropzone</button>
    </div>
   


    <script src="~/Scripts/dropzone/dropzone.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/angular-dropzone.js"></script>
    <script src="~/ngApp/controllers.js"></script>


    <script type="text/javascript">
        Dropzone.autoDiscover = false;
    </script>



</body>
</html>


